
<%-include('header')-%>

<!-- navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Apple</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lineup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/route/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    
<div class="container ">
  <!-- first row -->
  <div class="row pt-5">

    <div class="col-sm-4  ">
      <div class="card bg-dark text-white" style="width: 18rem;">
        <img src="/static/assets/iphone7.webp" class="card-img-top mycards" alt=".2222..">
        <div class="card-body">
          <p class="card-text ">iPhone 7 and iPhone 7 Plus</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card bg-dark text-white" style="width: 18rem;">
        <img src="/static/assets/iphone8.webp" class="card-img-top mycards" alt="...">
        <div class="card-body">
          <p class="card-text">Apple iPhone X, iPhone 8 and iPhone 8 Plus
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card bg-dark text-white" style="width: 18rem;">
        <img src="/static/assets/iphonex.webp" class="card-img-top mycards" alt="...">
        <div class="card-body">
          <p class="card-text">iPhone XR, iPhone XS and iPhone XS Max</p>
        </div>
      </div>
    </div>
  </div>

<!-- second row -->
<div class="row pt-5">

  <div class="col-sm-4">
    <div class="card bg-dark text-white" style="width: 18rem;">
      <img src="/static/assets/iphone11.webp" class="card-img-top mycards" alt="...">
      <div class="card-body">
        <p class="card-text">iPhone 11, iPhone 11 Pro and iPhone 11 Pro Max</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card bg-dark text-white" style="width: 18rem;">
      <img src="/static/assets/iphonese.webp" class="card-img-top mycards" alt="...">
      <div class="card-body">
        <p class="card-text">iPhone SE (2020)</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card bg-dark text-white" style="width: 18rem;">
      <img src="/static/assets/iphone12.webp" class="card-img-top mycards" alt="...">
      <div class="card-body">
        <p class="card-text">iPhone 12 Mini, 12, 12 Pro and 12 Pro Max</p>
      </div>
    </div>
  </div>
</div>

<!-- third row -->
<div class="row pt-5">

  <div class="col-sm-4">
    <div class="card bg-dark text-white" style="width: 18rem;">
      <img src="/static/assets/iphone13.webp" class="card-img-top mycards" alt="...">
      <div class="card-body">
        <p class="card-text">iPhone 13 mini, 13, 13 Pro and 13 Pro Max</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card bg-dark text-white" style="width: 18rem;">
      <img src="/static/assets/iphonese3.webp" class="card-img-top mycards" alt="...">
      <div class="card-body">
        <p class="card-text">iPhone SE (2022)</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card bg-dark text-white" style="width: 18rem;">
      <img src="/static/assets/iphone14.webp" class="card-img-top mycards" alt="...">
      <div class="card-body">
        <p class="card-text">iPhone 14, 14 Plus, 14 Pro and 14 Pro Max</p>
      </div>
    </div>
  </div>
</div>

<!-- forth row -->
<div class="row pt-5">

  <div class="col-sm-4">
    <div class="card bg-dark text-white" style="width: 18rem;">
      <img src="/static/assets/iphone15.webp" class="card-img-top mycards" alt="...">
      <div class="card-body">
        <p class="card-text">iPhone 15, 15 Plus, 15 Pro and 15 Ultra</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card bg-dark text-white" style="width: 18rem;">
      <img src="/static/assets/ipad1.webp" class="card-img-top mycards" alt="...">
      <div class="card-body">
        <p class="card-text">Apple iPad Pro 11-inch (2022) </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card bg-dark text-white" style="width: 18rem;">
      <img src="/static/assets/iwatch.jpeg" class="card-img-top mycards" alt="...">
      <div class="card-body">
        <p class="card-text">Apple Watch SE (2022) </p> 
      </div>
    </div>
  </div>
</div>
</div>




<%-include('footer')-%>